@charset "ISO-8859-1";
/* CSS Document */
body {
	padding-top:50px;
}

.navbar .dropdown-menu>li>a {
	color: #333;
}

.navbar .dropdown-menu>li>a:hover {
	color: #fff;
}

.accordion-group.well {
	padding: 5px;
}
a.accordion-toggle {
	font-size: 18px;
	color: #777;
}
a.accordion-toggle:hover {
	text-decoration: none;
}

.well-transparent {
  background-repeat:repeat; 
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  border: 1px solid #e3e3e3;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

#lista {
	width: auto;
	color: #333;
	display: none;
	margin-top: -5px;
	margin-bottom: 15px;
	padding: 6px;
}
.tablacal {
	font-size: 11px;
	margin-top: 0px;
	margin-bottom: 0px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	border: #d4d4d4 dotted 1px;
}

.tablacal,.tablacal td {
	padding: 3px 2px;
	vertical-align: top;
	background-color: #f5f5f5;
	border-bottom: #c9c682 dotted 1px;
}

legend{
	color:#777;	
}

h3{
	color:#666;	
}

.table thead th {
	background-color: #e9eae9;
} 
.table-centered th, .table-centered td {
	text-align: center;
}
.alert a, .alert legend{
	color:#fff;
	
}

.alert .modal p a {
	color: #08c;
}

.Rotate-90
{
  -webkit-transform: rotate(-80deg);
  -moz-transform: rotate(-80deg);
  -ms-transform: rotate(-80deg);
  -o-transform: rotate(-80deg);
  transform: rotate(-80deg);

  font-size: 10px;
  width:40px;
  position:relative;
  top:98px;
}
