@charset "ISO-8859-1";
/* CSS Document */
body {  
   padding-top: 60px;  
      }  
.well-2 {  
background-image: url('../img/gridbg.gif');  
  background-repeat:repeat;  
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}   

.nav > li > a:hover {
  text-decoration: none;
  background-color: #08c;
  color:#fff;
}

#lista {
	width: auto;
	color: #333;
	display: none;
	margin-top: -5px;
	margin-bottom: 15px;
	padding: 6px;
}
.tablacal {
	font-size: 11px;
	margin-top: 0px;
	margin-bottom: 0px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	border: #d4d4d4 dotted 1px;
}

.tablacal,.tablacal td {
	padding: 3px 2px;
	vertical-align: top;
	background-color: #f5f5f5;
	border-bottom: #c9c682 dotted 1px;
}


h1 {
  font-size: 35.5px;
}
