.DS_Store
*.espressostorage
.settings
.project
*.xml
xml/fotos/*.jpg
xml/fotos_profes/*.jpg
xml/jefe/TIC/*.txt
cache/*
/config.php
*_seg*

*.gz

pdf/lib/fonts/log.htm

.buildpath

prueba.php

*.sublime-project

*.sublime-workspace

xml/primaria/Garcia Lorca.txt

xml/primaria/JuanXXIII.txt

xml/primaria/Santo Tomas.txt

xml/primaria/Simon Fernandez.txt

xml/primaria/Juan XXIII.txt
