/* Tablas */
.tablamenu a {
	color: #222;
}

.tablamenu td:hover {
	background-color: #CCCC99;
}

td .desplegar:hover {
	background-color: #FFF;
}

.tablamenu .tabla td {
	padding: 4px;
}

.tablamenu .tabla #filasecundaria {
	padding: 2px;
	padding-left: 10px;
}

td.filamenu:hover,.filamenu a:hover {
	background-color: #964444;
	color: #fff;
	text-align: center;
	font-size: 11px;
}

.tabla {
	margin-top: 0px;
	margin-bottom: 0px;
	border-collapse:collapse;
}
.tabla td {
	vertical-align: top;
	border: #d4d4d4 solid 1px;
	}

.tablacal {
	font-size: 11px;
	margin-top: 0px;
	margin-bottom: 0px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	border: #d4d4d4 dotted 1px;
}

.tablacal,.tablacal td {
	padding: 3px 2px;
	vertical-align: top;
	background-color: #f5f5f5;
	border-bottom: #c9c682 dotted 1px;
}

.tablacalendario,.tablacalendario td {
	border: #aaa 1px solid;
	border-collapse: collapse;
	padding: 2px;
	vertical-align: top;
}

.tabladoc td.titulomenu:hover {
	background-color: #fff;
}

.tabladoc td.titulomenu {
	padding: 2px;
}

.tablaespaciada {
	border: none;
	margin: auto;
	empty-cells: show;
	margin-bottom: 10px;
}

.tablahor {
	border: none;
	margin: auto;
	empty-cells: show;
	margin-bottom: 10px;
	border-collapse: collapse;
	padding: 0px;
}

table.tablahor td {
	border: solid #000 1px;
}

.filamenu2 {
	background-color: #f6f6f6;
	/*#edffdd;*/
	font-size: 11px;
}

#filaprincipal {
	background-color: #f1f1f1;
	color: #1a1a1a;
	font-size: 12px;
	padding: 2px 5px;
	letter-spacing: 1px;
	line-height: 18px;
	vertical-align: middle;
}

#filasecundaria {
	background-color: #ecefdc;
	color: #221111;
	font-size: 11px;
	letter-spacing: 1px;
	line-height: 18px;
	vertical-align: middle;
	padding: 2px 6px;
}

#filaterciaria {
	color: #666;
	font-size: 11px;
	line-height: 18px;
	vertical-align: middle;
	padding: 2px;
}

.letraalta {
	font-size: 12px;
	color: #fcfcfc;
	margin: 0px 2px 0px 2px;
}

td {
	background-color: #ffffff;
}

td.titulomenu {
	padding: 0px;
}

.tabla .filamenu {
	background-color: #707070;
	color: #fff;
	text-align: center;
	font-size: 11px;
}

.tabla .filamenu a {
	color: #fff;
	padding: 2px 6px;
	text-align: center;
	font-size: 11px;
}

/* Enlaces en general */
a {
	text-decoration: none;
	font-weight: normal;
}


A.enlacemenu,A.enlacemenu:VISITED,A.enlacemenu:ACTIVE,A.enlacemenu:FOCUS,A.enlacemenu:LINK
	{
	font-size:1.1em;
	text-decoration: none;
	font-weight: bold;
	color: #fcfcfc;
}

A.enlacemenu:HOVER {
	color: #dfdfdf;
}
A.enlacenav,A.enlacenav:VISITED,A.enlacenav:ACTIVE,A.enlacenav:FOCUS,A.enlacenav:LINK
	{
	text-decoration: none;
	font-weight: normal;
	color: #1a1a1a;
}

A.enlacenav:HOVER {
	color: #261;
}

/* Etiquetas básicas */
p {
	line-height: 19px;
	margin: 6px 10px;
}

/*
ul{
margin-bottom:10px;
margin-top:5px;
}
li{
line-height:19px;
color:#555;
margin-left:30px;
}
ol{
line-height:19px;
color:#777;
}
*/
#forminput,.forminput {
	border: 1px solid #FFCC66;
	background-color: #ffefff;
	margin-left: 10px;
	margin-right: 20px;
	margin-bottom: 7px;
	text-align: left;
	color: #666666;
	padding: 0px 8px;
	line-height: 20px;
}

#formsubmit {
	width: 148px;
	margin-top: 15px;
	margin-bottom: 20px;
	color: #000;
	border: #777 1px solid;
	padding: 2px;
	font-size: 11px;
	text-align: center;
}

input[type='text'] {
	padding: 2px;
	font-size: 11px;
	border: 1px solid #bbb;
}

input[type='radio'] {
	margin-top: 10px;
	margin-bottom: -2px;
}

input[type="checkbox"] {
	color: #666666;
	background-color: #0000FF;
}

.formselect {
	border: 1px solid #FFCC66;
	margin-bottom: 3px;
	text-align: left;
	color: #358;
	padding: 2px;
	min-width: 120px;
	font-size: 11px;
	background: #eeeffe;
}

option {
	padding: 1px;
	vertical-align: bottom;
	font-size: 11px;
	background: #fff;
}

.formoption {
	color: #358;
	font-size: 10px;
}

#formoption {
	padding: 4px;
}

/* Títulos diversos */
.titulogeneral_en_marco {
	padding: 3px;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 20px;
	width: 425px;
	color: #555;
	border: #bbb 1px solid;
	background-color: #efefdd;
	text-align: center;
	letter-spacing: 1px;
	display: block;
	font-size: 12px;
}

.subtitulogeneral,.titulogeneral,.titulogeneralsin {
	padding: 3px;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 15px;
	width: 450px;
	color: #015dee;
	text-align: center;
	letter-spacing: 1px;
	display: block;
	font-size: 1.4em;
	font-weight: bold;
	/*text-shadow: #ccc 0.1em 0.1em 0.1em;*/
}

.titulin {
	width: 400px;
	padding-left: 11px;
	font-size: 11px;
	letter-spacing: 1px;
	border-bottom: #aaa 1px solid;
	margin-top: 15px;
	margin-left: 25px;
	margin-bottom: 10px;
	padding-bottom: 5px;
	text-align: left;
	display: block;
	line-height: 18px;
}

.titulin {
	color: #333;
}

.titulinsin {
	font-size: 11px;
	letter-spacing: 2px;
	color: #358;
	margin-left: 45px;
	margin-top: 8px;
	padding-bottom: 5px;
}

/* Textos */
#texto {
	padding-left: 6px;
	margin-top: 0px;
	margin-right: 20px;
	line-height: 19px;
	text-indent: 10px;
	text-align: justify;
	display: block;
}

#texto_en_marco {
	padding: 6px;
	width: 450px;
	margin: auto;
	margin-top: 18px;
	border: #ccc solid 1px;
	background: #f6f6f6;
	color: #333;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	line-height: 19px;
	text-align: center;
	display: block;
	font-size: 1.0em;
}

.content {
	padding: 2px;
	line-height: 15px;
	display: block;
}

.textolargo {
	margin: 8px 10px 7px 25px;
	line-height: 19px;
}

.textolargo ol,.textolargo li {
	margin-left: -10px;
}

/* Calendario */
/* Calendario */
a.normal {
	color: #333;
	font-weight: normal;
	font-size: 10px;
	text-decoration: none
}

a.today:link {
	color: #FFFFFF;
	font-weight: normal;
	font-size: 10px;
	text-decoration: none
}

.tablacal .cellbg {
	color: #333;
}

.tablacal .cellover {
	background-color: #7a1300;
	color: #fff;
	border-radius: 4px;
	-moz-border-radius: 4px;
}

.tablacal .celltoday {
	background-color: #73822f;
	color: #fff;
	border: none;
	-moz-border-radius: 4px;
	border-radius: 4px;
	font-weight: bold
}

.tablacal .cellevent {
	background-color: #7a1300;
	color: #fff;
	border: none;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.normaltext {
	color: #333;
	font-weight: normal;
	font-size: 10px;
}

.eventtitle {
	color: #666;
	font-weight: normal;
	font-size: 10px;
	display: block
}

.eventheading {
	color: #333333;
	font-weight: normal;
	font-size: 11px;
}

.regheading {
	color: #444444;
	font-weight: normal;
	font-size: 11px;
}

/* Otros */
td .boton {
	border: 1px solid #c0c0c0;
	padding: 3px 10px;
}

.boton {
	border: 1px solid #897;
	background-color: #ccddbb;
	padding: 3px 10px;
}

.boton a {
	color: #231;
}

.boton:hover {
	background-color: #CCFFaa;
	color: brown;
	cursor: pointer;
}


/* Espacios vacíos*/
.imagen0 {
	background: url(http://iesmonterroso.org/imagen/transparent.gif) left
		no-repeat;
	height: 1px;
	display: block;
}

.imagen10 {
	background: url(http://iesmonterroso.org/imagen/transparent.gif) left
		no-repeat;
	height: 10px;
	display: block;
}

.imagen15 {
	background: url(http://iesmonterroso.org/imagen/transparent.gif) left
		no-repeat;
	height: 15px;
	display: block;
}

.imagen35 {
	background: url(http://iesmonterroso.org/imagen/transparent.gif) left
		no-repeat;
	height: 35px;
	display: block;
}

.imagen50 {
	background: url(http://iesmonterroso.org/imagen/transparent.gif) left
		no-repeat;
	height: 48px;
	display: block;
	clear: both;
}

img {
	border: none;
}

/* Buscar alumnos */
#input {
	position: relative;
	width: 200px;
	padding: 2pt;
	background-color: f9f9f9;
}

#reloj {
	position: relative;
	vertical-align: bottom;
	visibility: hidden;
}

#lista {
	width: 294px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	background-color: #f2f2f2;
	border: 1px solid #dfdfdf;
	color: #333;
	display: none;
	margin-top: -5px;
	margin-bottom: 15px;
	padding: 6px;
}

#lista a {
	display: block;
	color: #444;
	text-decoration: none;
	padding: 0pt;
}

#lista a:hover {
	color: white;
	background-color: #5f5f5f;
}

.aviso {
	width: 420px;
	margin: auto;
	border: 1px solid #aaa;
	padding: 3px;
	background-color: #CCeecc;
	margin-bottom: 6px;
	border-radius: 8px;
	-moz-border-radius: 8px;
}

.aviso2 {
	width: 500px;
	margin: auto;
	border: 1px solid #aaa;
	padding: 3px;
	background-color: #FFEAC9;
	margin-bottom: 6px;
	border-radius: 8px;
	-moz-border-radius: 8px;
}

.aviso3 {
	width: 420px;
	margin: auto;
	border: 1px solid #aaa;
	padding: 3px;
	background-color: #FFefbF;
	margin-bottom: 6px;
	border-radius: 8px;
	-moz-border-radius: 8px;
}

/* Zen CSS*/
#linkList {
	position: relative;
	width: 210px;
}  /**/
#linkList ul {
	font-size: 12px;
	list-style: none;
	margin: 5px 0 0 0;
	padding: 0 0 0 0;
}

#linkList ul li {
	margin: 0;
	margin-left: 1px;
	padding: 0 0 0 20px;
	line-height: 24px;
	color: #3a3a3a;
}

#linkList #lselect li {
	background: url(imag/bullet_double.gif) no-repeat 5px 7px;
}

#linkList #lselect .MenuBarVertical li ul li {
	background: url(imag/bullet_double.gif) no-repeat 10px 8px;
	border: none;
	height: 24px;
}

#linkList #lselect li:hover {
	background: url(imag/bullet_double.gif) no-repeat 5px 7px;
	background-color: #5f5f5f;
	color:#fff;	
}

#linkList #lselect li ul li:hover {
	background: url(imag/bullet_double.gif) no-repeat 10px 8px;
	background-color: #5f5f5f;
	color:#fff;	
}
#linkList #lselect a:link,#linkList #lselect a:visited {
	display: block;
	color: #3a3a3a;
}

#linkList a,#linkList a:link,#linkList a:visited {
	color: #3a3a3a;
	text-decoration: none;
}

#linkList #lselect a:hover {
	color: #fff;
		background-color: #5f5f5f;

}

#linkList #lselect a {
	font-size: 11px;
}

#linkList h3 {
	margin-top: 15px;
	margin-bottom: 8px;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #222;
	padding-left: 8px;
	font-size: 1.6em;
	text-transform: lowercase
}

.btn_azul_normal {
	text-align: center;
	border-radius: 4px;
	-moz-border-radius: 4px;
	background: #407ced;
	color: #fff;
	padding: 6px 8px;
	font-weight: bold;
	border: 1px dotted #2b6be4;
	font-size: 1.0em;
}

.btn_azul_normal:hover {
	color: #3a3a3a;
}
.btn_rojo_normal {
	text-align: center;
	border-radius: 4px;
	-moz-border-radius: 4px;
	background: #b84236;
	color: #fff;
	padding: 6px 8px;
	font-weight: bold;
	border: 1px dotted #a0463d;
	font-size: 0.9em;
}

.btn_green_normal {
	text-align: center;
	border-radius: 4px;
	-moz-border-radius: 4px;
	background: #7e8c34;
	color: #fff;
	padding: 6px 8px;
	font-weight: bold;
	font-size: 0.9em;
}

.btn_green {
	text-align: center;
	border-radius: 4px;
	-moz-border-radius: 4px;
	background: url(imag/boton_voscuro.png) left repeat-x;
	color: #ddd;
	width: 120px;
	margin: auto;
	padding: 8px 4px;
	display: block;
	font-weight: normal;
}

.btn_brown {
	text-align: center;
	border-radius: 4px;
	-moz-border-radius: 4px;
	background: url(imag/boton_marron.png) left repeat-x;
	color: #eee;
	width: 150px;
	margin: auto;
	padding: 6px 2px;
	display: block;
	font-weight: normal;
	border-top: 1px solid #7D9D32;
	border-left: 1px solid #7D9D32;
}

.tit {
	width: 180px;
	margin: auto;
	margin-top: 18px;
	margin-bottom: 0px;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #417dee;
	font-size: 1.4em;
	text-transform: lowercase
}

.tit_rojo {
	width: 190px;
	margin: auto;
	margin-top: 18px;
	margin-bottom: 0px;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #111;
	font-size: 1.6em;
	text-transform: lowercase
}

.tit_verde {
	width: 180px;
	margin: auto;
	margin-top: 18px;
	margin-bottom: 0px;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #b84236;
	font-size: 1.4em;
	text-transform: lowercase
}
a{
	color:#2f2f2f;
	text-decoration:none;	
}
.mens{
	margin-left:-20px;
	padding:1px 18px;
	background: url(imag/bullet_single.gif) no-repeat 5px 5px;
	list-style:none;
}
.mens:hover{
	border-radius: 4px;
	-moz-border-radius: 4px;
	background-color: #5f5f5f; 
	border: 0px solid;
	color:white;	
}
.mens a:hover{
		color:brown;
}
a:hover{
		color:#7a1300;
}
