@charset "ISO-8859-1";
/* CSS Document */

.tablacal {
	font-size: 11px;
	margin-top: 0px;
	margin-bottom: 0px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	border: #d4d4d4 dotted 1px;
}

.tablacal,.tablacal td {
	padding: 3px 2px;
	vertical-align: top;
	background-color: #f5f5f5;
	border-bottom: #c9c682 dotted 1px;
}


/* TABLE */

.table thead th {
	background-color: #ebf0f1;
	text-transform: uppercase;
}

.table-vcentered th, .table-vcentered td {
	vertical-align: middle !important;
}

.table-centered th, .table-centered td {
	text-align: center;
}

/* CALENDARIOS */
.calendar-today, .table-striped>tbody>tr:nth-child(odd)>td.calendar-today {
	background-color: #2b3d4f;
	color: #fffffe;
}

.calendar-orange, .table-striped>tbody>tr:nth-child(odd)>td.calendar-orange {
	background-color: #f29b12;
	color: #fffffe;
}

.calendar-blue, .table-striped>tbody>tr:nth-child(odd)>td.calendar-blue {
	background-color: #3397db;
	color: #fffffe;
}

.calendar-red, .table-striped>tbody>tr:nth-child(odd)>td.calendar-red {
	background-color: #e14939;
	color: #fffffe;
}

.calendar-today a, .calendar-orange a, .calendar-blue a, .calendar-red a {
	color: #fff;
}


/* FECHORIAS */

.expulsion-centro, .table-striped>tbody>tr:nth-child(odd)>td.expulsion-centro {
	background-color: #FF4444;
}

.expulsion-aula, .table-striped>tbody>tr:nth-child(odd)>td.expulsion-aula {
	background-color: #FFBB33;
}

.amonestacion-escrita, .table-striped>tbody>tr:nth-child(odd)>td.amonestacion-escrita {
	background-color: #33B5E5;
}

.aula-convivencia-jefatura, .table-striped>tbody>tr:nth-child(odd)>td.aula-convivencia-jefatura {
	background-color: #AA66CC;
}

.aula-convivencia-profesor, .table-striped>tbody>tr:nth-child(odd)>td.aula-convivencia-profesor {
	background-color: #99CC00;
}


/* DESCRIPTIONS */ 

dt, dd {
	padding: 2px 0;
}

/* ALERTS */

.alert .alert-link {
	text-decoration: none;
}


/* LOGIN FORM */
.form-signin {
  max-width: 350px;
  padding: 15px;
  margin: 30px auto;
}

@media (max-width: 768px) {
	#login {
	  padding-top: 0;
	}
	
	#login h1 {
		font-size: 30px;
	}
}

.form-signin .form-signin-heading {
  margin-bottom: 10px;
}
.form-signin .form-signin-footer {
  margin-top: 10px;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -130px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

#footer {
  height: 130px;
}
